@import '../../../App.css';

.navbar {
  background-color: var(--white--off);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 'begin end' 'middle middle middle';
}
.box__image {
  height: 90px;
  width: 110px;
  margin: 0.5rem 0.75rem;
}
.btn--dark {
  border-radius: 5px;
  padding: 0.35rem 0.65rem;
}
.login__link {
  color: var(--white--off);
}
.menu button {
  margin: 0 0.25rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn--navbar {
  background-color: transparent;
  color: var(--text);
  border: none;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
}
.logout__mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 'begin middle end';
  }
  .btn--navbar {
    font-size: 1.5rem;
  }
  .logout__mobile {
    display: inline;
  }
}
